<script type="text/template" id="naviItem">
	  <li><a href="#"><@=model.name@></a></li>
</script>
<script type="text/template" id="contentFrame">
	 <iframe src="<@=src@>" name="contentFrame" id="contentFrame"  seamless scrolling="auto"></iframe>
</script>